.gallery {
    background: var(--clr-tolu);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
    position: relative;

    @media (min-width: 1000px) {
        height: 140vh;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 120px;
    }

    h2 {
        font-size: 45px;

        @media (min-width: 1000px) {
            font-size: 70px;
        }

        @media (min-width: 1200px) {
            font-size: 90px;
        }
    }

    p {
        @media (min-width: 1000px) {
            max-width: 400px;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    .imgBox {
        @media (min-width: 1000px) {
            position: absolute;
        }
    }

    .imgBox--1 {
        margin-top: 40px;
        width: 200px;
        height: 250px;
        background-color: var(--clr-tolu);

        @media (min-width: 1000px) {
            top: 200px;
            margin-top: 0;
            width: 250px;
            height: 296px;
        }
    }

    .imgBox--2 {
        width: 225px;
        height: 230px;
        position: absolute;
        bottom: 40px;
        right: 20px;

        @media (min-width: 1000px) {
            right: 200px;
            top: 480px;
            width: 235px;
            height: 233px;
            margin: 0;
            z-index: 10;
        }
    }

    .imgBox--3,
    .imgBox--4 {
        display: none;

        canvas {
            display: none;
        }

        @media (min-width: 1000px) {
            display: block;

            canvas {
                display: block;
            }
        }
    }

    .imgBox--3 {

        @media (min-width: 1000px) {
            top: 200px;
            right: 60px;
            margin-top: 0;
            width: 300px;
            height: 316px;
            display: flex;
            justify-content: flex-end;

            canvas {
                width: 250px !important;
                height: 200px;
            }
        }

        @media (min-width: 1200px) {

            canvas {
                width: 300px !important;
            }
        }
    }

    .imgBox--4 {
        @media (min-width: 768px) {
            display: flex;
            justify-content: flex-end;
        }

        @media (min-width: 1000px) {
            top: 600px;
            left: 100px;
            width: 372px;
            height: 351px;
        }

        @media (min-width: 1200px) {
            left: 400px;
            top: 550px;
        }
    }
}